<div class="main-content">
  <div class="container-fluid">
    <div class="d-flex">
      <mat-form-field>
        <mat-label>Procurar</mat-label>
        <input matInput [disabled]="isLoading" (keyup)="applyFilter($event)" placeholder="Procurar..." #input>
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="openDialog()" class="ml-2 mt-3 custom-icon-add"
        style="background-color: #075fcb;">
        <mat-icon>addchart</mat-icon>
      </button>
    </div>

    <div class="example-container">

      <div class="example-loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading" [diameter]="35" color="primary"></mat-spinner>
      </div>

      <div class="example-table-container mat-elevation-z8">

        <table mat-table [dataSource]="projects" matSort>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="date_init">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data inicío </th>
            <td mat-cell *matCellDef="let row"> {{row.date_init | slice: 0:10 | date: 'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="date_finish">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data final </th>
            <td mat-cell *matCellDef="let row"> {{row.date_finish | slice: 0:10 | date: 'dd/MM/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="value_project">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor do Projeto</th>
            <td mat-cell *matCellDef="let row"> {{row.value_project | currency :'BRL':'symbol':'1.2-2'}}</td>
          </ng-container>

          <ng-container matColumnDef="risk_project">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Risco do Investimento </th>
            <td mat-cell *matCellDef="let row">
              <a [ngStyle]="{'color': (row.risk_project==0) ? 'green' : (row.risk_project==1) ? '#928300' : 'red'}">
                {{row.risk_project == 0 ? 'Baixo' : row.risk_project == 1 ? 'Médio' : 'Alto'}}
              </a>
            </td>
          </ng-container>


          <ng-container matColumnDef="opcao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Opções </th>
            <td mat-cell *matCellDef="let row let i = index">
              <div class="d-flex">
                <button mat-mini-fab color="warn" (click)="openDialogEdit(projects.data[i])" class="my-fab m-1"
                  style="background-color: #075fcb;">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" (click)="openDialogIvenstment(projects.data[i])" class="my-fab m-1"
                  style="background-color: #075fcb;">
                  <div class="d-flex">
                    <p style="font-size: 12px;margin-left: 8px;margin-right: -7px;">$</p>
                    <mat-icon>trending_up</mat-icon>
                  </div>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nenhum dado corresponde ao filtro "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons (page)="getCurrent($event)">
        </mat-paginator>
      </div>

    </div>
  </div>
</div>

<ng-template #myTemplate>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info"
            style="background-image: url(../../assets/img/navbar_.png); background-repeat: repeat-y;">
            <h4 class="card-title">Cadastro do Projeto</h4>
            <p class="card-category">Cadastrar informação do projeto</p>
          </div>
          <div class="card-body">
            <form [formGroup]="userform" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nome *" formControlName="name">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div *ngIf="error.isError" class="col-md-12" style="color: red;">
                  {{ error.errorMessage }}
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Data de inicío *" type="date" formControlName="date_init">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput placeholder="Data de término *" type="date" formControlName="date_finish">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Valor do projeto *" type="number" formControlName="value_project">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Risco do investimento" formControlName="risk_project" required>
                      <mat-option *ngFor="let risk of level_risk" [value]="risk.value">
                        {{risk.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-12">
                  <button type="button" mat-raised-button color="accent" (click)="addItem()"
                    class="custom-icon-add-item">
                    <mat-icon>person_add</mat-icon>Participantes
                  </button>
                </div>
              </div>
              <div class="row" formArrayName="participants">
                <div class="col-md-12" *ngFor="let item of participants().controls; let i=index" [formGroupName]="i">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <input matInput placeholder="Nome *" formControlName="name">
                      </mat-form-field>
                    </div>
                    <div class="col-md-5">
                      <mat-form-field>
                        <input matInput placeholder="CPF *" formControlName="cpf">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <button *ngIf="i > 0" mat-icon-button color="warn" (click)="removeItem(i)"
                        class="custom-icon-remove">
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row button-cadastro-flutuante">
                <button mat-raised-button color="primary" type="submit" class="btn pull-right">Cadastrar
                  <mat-icon>save</mat-icon>
                </button>
                <button type="button" *ngIf="controlDelete" (click)="openDialogDelete()" mat-raised-button
                  class="btn btn-danger pull-right">Delete
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>



<ng-template #myTemplateDelete>
  <mat-dialog-content>
    <h2>Tem certeza que deseja excluir?</h2>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="deleteProject()">Sim</button>
    <button mat-raised-button mat-dialog-close color="segundary">Cancelar</button>
  </mat-dialog-actions>
</ng-template>



<ng-template #myTemplateInvestment>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info"
            style="background-image: url(../../assets/img/navbar_.png); background-repeat: repeat-y;">
            <div class="d-flex">
              <h4 class="card-title">Simular Investimento R$</h4>
              <mat-icon>trending_up</mat-icon>
            </div>
            <p class="card-category">Informações do projeto</p>
          </div>
          <div class="card-body">
            <form [formGroup]="userform">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nome *" formControlName="name">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Data de inicío *" type="date" formControlName="date_init">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput placeholder="Data de término *" type="date" formControlName="date_finish">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Valor do projeto *" type="number" formControlName="value_project">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Risco do investimento" formControlName="risk_project" required>
                      <mat-option *ngFor="let risk of level_risk" [value]="risk.value">
                        {{risk.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" formArrayName="participants">
                <p class="col-md-12" style="color: rgba(0,0,0,.38);">Participantes:</p>
                <div class="col-md-12" *ngFor="let item of participants().controls; let i=index" [formGroupName]="i">
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <input matInput placeholder="Nome *" formControlName="name">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <input matInput placeholder="CPF *" formControlName="cpf">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div *ngIf="controlMessageError" class="col-md-12" style="color: red;">
              Ops, atenção,o valor de investimento deve ser maior que o valor do Projeto.
            </div>
            <form>
              <div class="row">
                <div class="col-md-10">
                  <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="Valor do investimento *"
                      (oninput)="validValueInvestment()" [(ngModel)]="valueInvestment"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <button mat-raised-button color="primary" [disabled]="!valueInvestment"
                    (click)="simulateInvestment()">Calcular</button>
                </div>
              </div>
            </form>

            <div *ngIf="controlResult" class="ticket3">
              <div class="ticket3__details">
                <h3 class="ticket3__title">Detalhes da Simulação</h3>
                <ul>
                  <li>Valor do investimento: {{valueInvestmentFix | currency :'BRL':'symbol':'1.2-2'}}</li>
                  <li>Valor do projeto: {{valueProject | currency :'BRL':'symbol':'1.2-2'}}</li>
                  <li>Risco do investimento: {{riskProject == 0 ? 'Baixo' : riskProject == 1 ? 'Médio' : 'Alto'}}</li>
                  <li>Porcentagem: {{riskProject == 0 ? '5%' : riskProject == 1 ? '10%' : '20%'}}</li>
                </ul>
              </div>
              <div class="ticket3__price">
                <span class="heading">Retorno</span>
                <span class="price">{{valueRetorneInvestment | currency :'BRL':'symbol':'1.2-2'}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
